.button_add {
    background-color: #f1f4f5e8;
    font-size: 25pt;
    color: mediumseagreen;
    display: flex;
    justify-content: end;
}

.add-content {
    cursor: pointer;
}

#info-data {
    display: none;
}